[submodule "External/cert-wallet"]
	path = External/cert-wallet
	url = git@github.com:blockchain-certificates/cert-wallet.git
[submodule "External/SkyFloatingLabelTextField"]
	path = External/SkyFloatingLabelTextField
	url = git@github.com:Skyscanner/SkyFloatingLabelTextField.git
[submodule "certificate-web-component"]
	path = certificate-web-component
	url = git@github.com:learningmachine/certificate-web-component.git
[submodule "External/certificate-web-component"]
	path = External/certificate-web-component
	url = git@github.com:learningmachine/certificate-web-component.git
